@use '../abstracts' as *;

.behandelingen {
    ul {
        margin-left: 0;
        list-style-type: none;
        margin-bottom: 20px;

        a {
            color: #000;

            &:hover {
                color: $color_theme_gold;
            }
        }
    }

    .top {
        column-gap: 30px;

        .left {
            text-align: right;
        }

        .middle {
            justify-self: center;
            position: relative;

            img {
                width: 285px;
                height: 502px;
                margin-left: auto;
                margin-right: auto;
                text-align: center;
            }
        }

        .right {
            h3 {
                color: #7ab0e0;
            }
        }
    }

    .bottom {
        justify-self: center;
        text-align: center;
        margin-top: 30px;

        h3 {
            color: #000;
        }
    }

    //Bolletjes links
    .middle {
        a {
            display: block;
            width: 15px;
            height: 15px;
            border-radius: 100%;
            position: absolute;
            background-color: $color_theme_gold;

            &:hover {
                transform: scale(1.3);
            }

            &.voorhoofdrimpel {
                top: 80px;
                left: calc(50% - 7.5px);
            }
        }
    }
}
