@use '../abstracts' as *;

.button {
    font-family: $font_family_heading;
    font-weight: bold;
    color: #fff;
    padding: 10px 15px;
    display: block;
    background-color: $color_theme_purple;
    margin-top: 10px;
    width: fit-content;

    &:hover {
        color: #000;
        background-color: $color_theme_green;
    }
}
