@use '../abstracts' as *;

.calendar {
    .em.em-calendar .em-cal-body .em-cal-day .em-cal-day-date.em-cal-day-date a,
    .em.em-calendar
        .em-cal-body
        .em-cal-day
        .em-cal-day-date.em-cal-day-date
        span {
        font-size: 24px;
        color: #454955 !important;
    }

    .em.em-calendar.size-medium
        .em-cal-body
        .em-cal-day.eventful
        .em-cal-day-date.colored
        div.ring.one,
    .em.em-calendar.size-medium
        .em-cal-body
        .em-cal-day.eventful-post
        .em-cal-day-date.colored
        div.ring.one,
    .em.em-calendar.size-medium
        .em-cal-body
        .em-cal-day.eventful-pre
        .em-cal-day-date.colored
        div.ring.one,
    .em.em-calendar.size-small
        .em-cal-body
        .em-cal-day.eventful
        .em-cal-day-date.colored
        div.ring.one,
    .em.em-calendar.size-small
        .em-cal-body
        .em-cal-day.eventful-post
        .em-cal-day-date.colored
        div.ring.one,
    .em.em-calendar.size-small
        .em-cal-body
        .em-cal-day.eventful-pre
        .em-cal-day-date.colored
        div.ring.one,
    .em.em-calendar.size-small
        .em-cal-body
        .em-cal-day.eventful-today
        .em-cal-day-date
        a,
    .em.em-calendar.size-small
        .em-cal-body
        .em-cal-day.eventless-today
        .em-cal-day-date
        a {
        width: 48px;
        height: 48px;
        transition: $transition;

        &:hover {
            background-color: $color_theme_gold;

            a {
                color: #fff !important;
            }
        }
    }

    .em.em-calendar.size-small
        .em-cal-body
        .em-cal-day
        .em-cal-day-date.em-cal-day-date
        a,
    .em.em-calendar.size-small
        .em-cal-body
        .em-cal-day
        .em-cal-day-date.em-cal-day-date
        span {
        padding: 2px;
    }

    .em.em-calendar .em-cal-body .em-cal-day.eventful .em-cal-day-date a,
    .em.em-calendar .em-cal-body .em-cal-day.eventful-post .em-cal-day-date a,
    .em.em-calendar .em-cal-body .em-cal-day.eventful-pre .em-cal-day-date a {
        border: none !important;
    }

    .em.em-calendar .em-cal-body .em-cal-day.eventful-today .em-cal-day-date a,
    .em.em-calendar
        .em-cal-body
        .em-cal-day.eventless-today
        .em-cal-day-date
        a {
        color: #fff !important;
        background-color: $color_theme_gold !important;
    }

    .em.em-calendar.size-small
        .em-cal-body
        .em-cal-day.eventful
        .em-cal-day-date.colored
        a {
        color: #000 !important;
    }
}
.em.em-calendar.size-large {
    .em-cal-body.even-aspect .em-cal-day {
        aspect-ratio: initial;
        min-height: 150px;
    }
}
