@use '../abstracts' as *;

.label {
    color: $color_text_body;
    font-weight: 600;
    position: relative;
    width: fit-content;

    &::after {
        content: '';
        border-bottom: 1px solid $color_theme_gold;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
    }
}
