@use '../abstracts' as *;
.nav {
    .nav-arrow {
        width: 8.3px;
        height: 14.4px;
        position: absolute;
        top: calc(50% - 28px);
        z-index: 8;

        &.prev {
            left: -40px;
            transform: rotate(180deg);
        }

        &.next {
            right: 80px;
        }

        &::after {
            content: '';
            width: 8.3px;
            height: 14.4px;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='8.255' height='14.361' viewBox='0 0 8.255 14.361'%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath d='M0,0H8.255V-14.361H0Z' fill='none'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg transform='translate(0 14.361)' clip-path='url(%23a)'%3E%3Cg transform='translate(0.76 -0.76)'%3E%3Cpath d='M0,.76A.758.758,0,0,1-.537.537a.76.76,0,0,1,0-1.075L5.346-6.421-.537-12.3a.76.76,0,0,1,0-1.075.76.76,0,0,1,1.075,0L7.5-6.421.537.537A.758.758,0,0,1,0,.76Z' fill='%23fff'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
            background-size: cover;
            position: absolute;
            top: calc(50% - 6px);
            left: calc(50% - 10.5px);
            transition: $transition;
        }

        &:hover {
            cursor: pointer;

            &::after {
                filter: brightness(3);
            }
        }

        &.orange {
            background-color: $color_theme_gold;

            &::after {
                filter: brightness(3);
            }

            &:hover {
                background-color: $color_text_body;
            }
        }
    }

    &.bottom {
        position: relative;
        display: block;
        width: 140px;
        height: 60px;
        margin-left: auto;
        margin-right: auto;
    }
}
