@use '../abstracts' as *;

.banner {
    height: 633px;
    position: relative;

    .content {
        position: relative;
        z-index: 2;

        h1 {
            font-size: 60px;
            color: #fff;
        }
    }

    .banner-image {
        img {
            position: absolute;
            object-fit: cover;
            width: 100%;
            max-height: 633px;
            left: 0;
            z-index: 1;
        }
    }
}
