@use '../abstracts' as *;

/* ### Carrousel ### */
.client-carrousel {
    text-align: center;
    position: relative;
    background-color: $color_theme_purple;

    .content {
        h2 {
            margin-bottom: 20px;
        }
    }

    .logo-carrousel {
        padding-bottom: 50px;
    }

    &.has-bg {
        .nav {
            bottom: 90px;
        }
    }

    .nav {
        position: absolute;
        left: calc(50% - 60px);
        bottom: -30px;

        .next {
            right: -130px;
        }
    }
}
