@use '../abstracts' as *;

.cta {
    color: #fff;
    gap: 80px;
    overflow: hidden;

    h2,
    p,
    body {
        color: #fff;
    }

    .button {
        margin-top: 0;
        margin-bottom: 20px;
    }

    .icon {
        position: absolute;
        left: calc(50% - 735px);
        max-width: 315px;

        img,
        svg {
            width: 100%;
            opacity: 0.4;
            transform: rotate(15deg);
        }
    }

    @media only screen and (max-width: 767px) {
        flex-wrap: wrap;
        gap: 10px;
        text-align: center;
    }
}
