@use '../abstracts' as *;

/* ### FAQ ### */
.faq {
    ul {
        text-align: left;
        margin-left: 0;

        li {
            width: 100%;
            list-style-type: none;
            position: relative;
            cursor: pointer;
            transition: 0.2s ease-in-out;
            text-align: left;
            margin-bottom: 0;

            &.active {
                .open-icon:after {
                    opacity: 0;
                    visibility: hidden;
                }
            }

            .question {
                font-size: 17px;
                color: $color_text_body;
                padding: 25px 0 15px 35px;
                margin-bottom: 0;
                transition: $transition;

                &:hover {
                    color: $color_theme_gold;
                }
            }

            &:first-child {
                .question {
                    margin-top: -25px;
                }
            }

            .answer {
                display: none;
                position: relative;
            }

            .open-icon {
                position: absolute;
                top: 20px;
                left: 0;
                width: 30px;
                height: 30px;
                border-radius: 100%;

                &:before,
                &:after {
                    content: '';
                    background-color: $color_theme_gold;

                    position: absolute;
                }

                &:before {
                    width: 12px;
                    height: 2.4px;
                    top: calc(50% - 1.2px);
                    left: calc(50% - 6px);
                }

                &:after {
                    width: 2.4px;
                    height: 12px;
                    top: calc(50% - 6px);
                    left: calc(50% - 1.2px);
                    transition: $transition;
                }
            }
        }
    }

    @media only screen and (max-width: 767px) {
        .faq li {
            margin-bottom: 15px;
        }
    }
}
