@use '../abstracts' as *;

.testimonial-carrousel {
    display: flex;
    justify-content: flex-end;
    margin-bottom: calc($section_margin + 20px);
    min-height: 588px;
    background-image: url('../images/review-bg.jpg');
    background-position: center;
    background-size: cover;

    .content {
        p {
            max-width: 920px;
        }
    }

    .testimonials {
        position: relative;
        background-color: $color_theme_gold_dark;
        min-height: 500px;
        max-width: 442px;
        padding: 45px 60px 80px;
        border-radius: 17px 0 17px;
        box-shadow: 0px 3px 6px #00000029;

        .read-more {
            position: absolute;
            bottom: -40px;
            color: #fff;

            &::after {
                filter: brightness(1.4);
            }
        }

        .more {
            position: absolute;
            bottom: 9px;
            text-decoration: underline;
            cursor: pointer;
        }
    }

    .bg-image {
        position: absolute;
        left: 0;

        img {
            object-fit: cover;
        }
    }

    .inner {
        max-width: 440px;
        position: relative;
    }

    .item {
        .name {
            color: #fff;
            font-family: $font_family_heading;
            font-weight: bold;
            margin-bottom: 0;
        }

        a {
            color: #fff;
        }

        .stars {
            column-gap: 13.5px;
            margin-bottom: 15px;

            img {
                width: 21px;
                height: 20px;
            }
        }

        .testimonial-content {
            color: #fff;
            overflow: hidden;
            position: relative;
            transition: $transition;

            p {
                max-height: 315px;
                color: #fff;
                position: relative;
            }

            &.enlarge {
                p {
                    max-height: initial;
                }

                .more {
                    visibility: hidden;
                    opacity: 0;
                }
            }
        }

        &.long-text {
            p {
                &::after {
                    content: '';
                    height: 47px;
                    width: 100%;
                    position: absolute;
                    left: 0;
                    bottom: -7px;
                    background: rgb(255, 255, 255);
                    background: linear-gradient(
                        180deg,
                        rgb(144 128 85 / 0%) 0%,
                        rgb(144 128 85) 100%
                    );
                }
            }
        }
    }

    &.main-bg {
        .item {
            background-color: $color_bg;

            .testimonial-content {
                &::after {
                    background: linear-gradient(
                        180deg,
                        rgba(241, 241, 241, 0) 0%,
                        rgb(241 241 241) 100%
                    );
                }
            }
        }
    }

    .nav {
        position: absolute;
        width: 100%;
        top: calc(50% - 25px);
        margin-left: auto;
        margin-right: auto;
    }

    .owl-dots {
        display: none;
    }

    @media only screen and (max-width: 767px) {
        margin-bottom: 80px;

        .nav {
            margin-top: 20px;
        }

        .testimonials {
            .read-more {
                display: none;
            }
        }
    }
}
