@use '../abstracts' as *;

/* ### Text Image ### */
.text-image {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;

    .content {
        margin-bottom: 0;
    }

    .image {
        position: relative;

        img {
            max-width: 100%;
            height: auto;
        }
    }

    &.alignright {
        .image {
            order: 1;
        }
        .content {
            order: 2;
        }
    }

    @media only screen and (max-width: 991px) {
        grid-template-columns: 2fr 1fr;
        gap: 30px 20px;

        &.alignright {
            grid-template-columns: 1fr 2fr;
        }
    }

    @media only screen and (max-width: 767px) {
        grid-template-columns: 1fr;

        &.alignright {
            grid-template-columns: 1fr;
        }

        .image {
            order: 1;
        }

        .content {
            order: 2;
        }
    }
}

/* ### Site specifiek text image ### */
.text-image {
    &.alt-layout {
        gap: 0;

        .content {
            padding: 60px 50px;
            background-color: $color_theme_gold;
            border-radius: 25px 0;
            display: flex;
            align-items: center;
            margin: -15px -15px 20px 50px;
            z-index: 2;

            .inner {
                padding-bottom: 50px;

                h2 {
                    color: #000;
                }

                .label {
                    margin-bottom: 50px;

                    &::after {
                        border-bottom: 1px solid #fff;
                    }
                }

                .text {
                    margin-bottom: 50px;
                }
            }
        }

        &.frame-dark-bg {
            .content {
                background-color: #000;

                .label,
                a,
                p,
                h2 {
                    color: #fff;
                }

                .label {
                    &::after {
                        border-bottom: 1px solid $color_theme_gold;
                    }
                }
            }
        }

        &.frame-light-bg {
            .content {
                background-color: $color_theme_gold_light;

                .inner {
                    .label {
                        &::after {
                            border-bottom: 1px solid $color_theme_gold;
                        }
                    }
                }
            }
        }

        .image {
            margin: 15px 50px -15px -15px;
        }

        &.alignright {
            .content {
                margin: -15px 50px 20px -15px;
            }

            .image {
                margin: 15px -15px -15px 50px;
            }
        }
    }
}
