@use '../abstracts' as *;

/* ### USP ### */
.usp {
    background-color: #fff;
    position: relative;

    .items {
        align-items: flex-start;

        .item {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: center;
            margin-bottom: 0;

            h4 {
                position: relative;
                margin-bottom: 0;
                cursor: pointer;

                &:hover {
                    color: $color_theme_gold;
                }
            }

            .icon-holder {
                height: 50px;
                margin-bottom: 20px;

                img {
                    max-height: 100%;
                }
            }

            .usp-content {
                width: 100%;
                padding: 15px;
            }

            &.active {
                h4::after {
                    transform: rotate(-180deg);
                }
            }
        }
    }

    &.dark-bg {
        h4 {
            color: #fff;
        }
    }

    @media only screen and (max-width: 991px) {
        .items {
            grid-template-columns: 1fr 1fr;

            .item {
                justify-content: flex-start;
                padding-left: 50px;

                &:nth-child(2) {
                    border-right: none;
                }
            }
        }
    }

    @media only screen and (max-width: 767px) {
        .items {
            grid-template-columns: 1fr;
            .item {
                padding-left: 40px;
            }
        }
    }
}
