@use '../abstracts' as *;

body {
    background-color: $body_bg;
}

a {
    color: $color_link;
    text-decoration: none;
    transition: $transition;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.aligncenter {
    text-align: center;
    &.section {
        .content {
            max-width: 920px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

blockquote p {
    font-family: $font_family_quote;
    font-size: $font_size_quote;
    line-height: $line_height_quote;
    margin: $margin_quote;
    max-width: $max_width_quote;
}

/*als bg kleur gekozen is*/
.has-bg {
    padding-top: $section_has_bg_padding_top;
    padding-bottom: $section_has_bg_padding_bottom;

    @media only screen and (max-width: 767px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    &.no-bg {
        padding-top: 0;
        padding-bottom: 0;
    }
}
.section {
    margin-bottom: $section_margin;
    position: relative;
    z-index: 1;

    @media only screen and (max-width: 991px) {
        margin-bottom: $section_margin_sm;
    }
}

/*alle content secties hebben deze klasse*/
.rg-margin {
    margin-bottom: $section_margin;
}
.lg-margin {
    margin-bottom: $section_margin_lg;
}
.sm-margin {
    margin-bottom: $section_margin_sm;
}
.no-margin {
    margin-bottom: 0;
}

@media only screen and (max-width: 767px) {
    .section,
    .rg-margin,
    .lg-margin {
        margin-bottom: $section_margin_sm;
    }
}
@media only screen and (max-width: 480px) {
    .section,
    .rg-margin,
    .lg-margin {
        margin-bottom: 40px;
    }
}

/* ### global classes ### */
.centered {
    padding-right: calc((100% - $content_width) / 2);
    padding-left: calc((100% - $content_width) / 2);
}
.centered-sm {
    padding-right: calc((100% - $content_width_sm) / 2);
    padding-left: calc((100% - $content_width_sm) / 2);

    &.aligncenter {
        padding-right: calc((100% - 760px) / 2);
        padding-left: calc((100% - 760px) / 2);
    }
}
.grid {
    display: grid;
    gap: 20px;
}
.columns-2 {
    grid-template-columns: 1fr 1fr;
}
.columns-3 {
    grid-template-columns: 1fr 1fr 1fr;
}
.columns-4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.columns-5 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

@media only screen and (max-width: 767px) {
    .columns-3 {
        grid-template-columns: 1fr;
    }
    .columns-4,
    .columns-5 {
        grid-template-columns: 1fr 1fr;
    }
}
@media only screen and (max-width: 480px) {
    .columns-2,
    .columns-3,
    .columns-4,
    .columns-5 {
        grid-template-columns: 1fr;
    }
}

.flex,
.wrap {
    display: flex;
}
.jucoce {
    justify-content: center;
}
.jucosp {
    justify-content: space-between;
}
.jucoen {
    justify-content: flex-end;
}
.alitce {
    align-items: center;
}
.aliten {
    align-items: flex-end;
}
.flwr {
    flex-wrap: wrap;
}
.img-holder {
    overflow: hidden;
}

@media only screen and (max-width: $content_width) {
    .centered {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.content-area {
    min-height: calc(100vh - 631px);

    ul,
    ol {
        margin-left: 50px;
        list-style-type: disc;
        margin-bottom: 20px;

        li {
            margin-bottom: 10px;
        }
    }

    ol {
        list-style-type: decimal;
    }
}

section {
    .content {
        position: relative;
        margin-bottom: $section_content_margin;
    }
}

.banner-padding {
    padding-top: 30px;
}

//Site specifieke css
h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
}

h1.page-title {
    text-transform: none;
}

h2 {
    span {
        color: #000;
    }
}

section {
    &.main-bg {
        background-color: $color_theme_gold;

        h2 {
            color: #fff;
        }

        .read-more {
            color: #fff;

            &:hover {
                color: #000;
            }

            &::after {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12.631' height='8.888' viewBox='0 0 12.631 8.888'%3E%3Cg transform='translate(53.696 -133)'%3E%3Cg transform='translate(0 131)'%3E%3Cpath d='M18.364,135.937h0l-3.756-3.727a.718.718,0,0,0-1.014,1.016l2.522,2.5-9.452-.209a.717.717,0,1,0,0,1.434l9.452.209-2.522,2.5a.718.718,0,0,0,1.014,1.016l3.756-3.727h0A.716.716,0,0,0,18.364,135.937Z' transform='translate(-59.639 -130)' fill='%23ffffff'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
            }
        }
    }

    &.light-bg {
        background-color: #efece4;

        h2 {
            color: $color_theme_gold_dark;
        }
    }
    &.dark-bg {
        background-color: #000;

        h2 {
            span {
                color: #fff;
            }
        }

        p {
            color: #fff;
        }

        .read-more {
            color: $color_theme_gold;
        }
    }
}

section.sm-padding {
    padding-top: 35px;
    padding-bottom: 45px;
}

.heading-sm {
    h2 {
        max-width: 580px;
    }
}
