@use '../abstracts' as *;

.single-event {
    .em-booking-form {
        .em-booking-section-title {
            display: none;
        }
        .em-tickets {
            margin: 0;
        }
        .em-booking-section {
            display: inline-flex;
            flex-wrap: wrap;
            column-gap: 20px;
            margin: 0;

            .input-user-field {
                width: calc(50% - 10px);
            }

            .input-textarea {
                width: 100%;
            }

            textarea {
                width: 100% !important;
                min-height: 100px !important;
            }
        }
    }
}
