@use '../abstracts' as *;

footer {
    color: $color_text_body;
    position: relative;

    .top,
    .bottom {
        padding-top: 50px;
        padding-bottom: 40px;

        p,
        a {
            font-size: 14px;
            color: #fff;
        }

        a {
            &:hover {
                color: $color_theme_gold;
            }
        }

        .title,
        h4 {
            font-size: 14px;
            color: #000;
            font-weight: bold;
            margin-bottom: 10px;
        }

        .menu {
            margin-bottom: 30px;

            li {
                margin-bottom: 5px;
            }
        }
    }

    .top {
        background-color: $color_theme_gold_dark;

        a {
            &:hover {
                color: #000;
            }
        }
    }

    .bottom {
        background-color: #000000;

        .title,
        h4 {
            color: $color_theme_gold;
        }

        .contact {
            a {
                display: block;
            }
        }

        .certificeringen,
        .privacy {
            margin-top: 50px;
        }
    }

    .subfooter {
        background-color: #000;
        padding-bottom: 50px;

        img {
            width: 328px;
            height: 53px;
        }
    }
}
