@use '../abstracts' as *;

header {
    color: #fff;
    padding-left: 60px;
    padding-right: 60px;
    position: sticky;
    top: 0;
    z-index: 99;
    background-color: #000;
    letter-spacing: 0.78px;

    .headerBox {
        padding: 17px 0 20px 0;
        row-gap: 30px;
        max-width: 1920px;
        margin-left: auto;
        margin-right: auto;

        a:not(.button) {
            font-family: $font_family_body;
            color: #fff;

            &:hover {
                color: $color_link_hover;
            }
        }
    }

    .logo {
        img {
            width: 390.68px;
            height: 30.2px;
        }
    }

    .top-menu {
        width: 100%;
        font-size: 11px;
        text-transform: uppercase;

        a {
            font-size: 11px;
        }

        .left {
            font-size: 11px;

            a {
                font-size: 11px;

                &:first-child {
                    text-decoration: underline;
                }

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .right {
            column-gap: 10px;
        }
    }

    .bottom-menu {
        font-size: 13px;
        text-transform: uppercase;
        width: 100%;

        .right {
            column-gap: 19px;

            .menu {
                display: flex;
                column-gap: 19px;
            }

            .button {
            }
        }
    }

    .mobilemenu {
        display: none;
    }

    @media only screen and (max-width: 991px) {
        position: fixed;
        z-index: 99;
        top: 0;
        width: 100%;

        .logo {
            img {
                width: 270px;
                height: 52.7px;
            }
        }

        .menu {
            display: flex;
            align-items: flex-end;

            .top-menu {
                padding-right: 60px;
                border-bottom: 0;
            }

            .bottom-menu {
                display: none;
            }
        }

        .mobilemenu {
            display: block;
            position: absolute;
            bottom: 0;

            a {
                padding-left: 10px !important;
            }
        }

        @media only screen and (max-width: 767px) {
            .top-menu {
                a {
                    margin-right: 5px;

                    span {
                        display: none;
                    }

                    img {
                        margin-right: 0px;
                        height: 35px;
                    }
                }
            }
        }

        @media only screen and (max-width: 479px) {
            .logo {
                img {
                    width: 200px;
                    height: 39px;
                }
            }

            .menu {
                .top-menu {
                    gap: 5px;
                    padding-right: 50px;
                    padding-bottom: 0;

                    a {
                        margin-right: 0;
                    }
                }
            }

            .mobileMenu {
                right: 15px;
            }
        }
    }
}
